body {
    padding-top: 70px;
}

.navbar {
    background-color: #2c3e50;
    text-transform: uppercase;
    height: 90px;
    border: none;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.btn-green {
    background-color: #1abc9c;
    padding: 9px;
    border-radius: 10px;
}

.btn-green:hover {
    background-color: #148f77;
    color: white;
}


.destra {
    text-align: right;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.start {
    padding: 30px;
    font-size: 20px;
    font-weight: 700;
}

.start3 {
    padding: 35px;
    font-size: 15px;
    font-weight: 700;
    text-align: right;
}

.start3 a {
    margin-right: 40px;
}

.start3 a:hover {
    color: #1abc9c;
}

.start2 {
    padding: 24px;
    font-weight: 700;
}

.greenfluid {
    background-color: #1abc9c;
}

.ciaooo img {
    padding-top: 100px;
    max-width: 250px;
}

h1 {
    color: white;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 45px;
    text-align: center;
}

.love h2 {
    color: white;
    font-size: 20px;
}

.portfolio h2 {
    font-size: 40px;
    color: #2c3e50;
    padding-top: 50px;
    text-transform: uppercase;
}

.glyphicon-star {
    color: white;
    font-size: 40px;
    text-align: center;
}

.black {
    color: #2c3e50;
}

.pointer {
    cursor:pointer;
}

.pointer img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 10px;
    margin-top: 30px;
}

@media screen and (max-width:420px) {
    .col-xs-9 {
        width: calc((100% / 12) * 12);
        text-align: center;
        padding: 5px;
    }

    .col-xs-3 {
        width: calc((100% / 12) * 12);
        background-color: #2c3e50;
        text-align: center;
        padding: 5px;
    }

    .pointer img {
        max-width: 100%;
    }

}

@media screen and (min-width:992px) {
    .col-xs-3 {
        display: none;
    }
}

@media screen and (max-width:992px) {
    .ciao {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .pointer img {
        max-width: 400px;
    }
}

@media screen and (max-width:480px) {
    .pointer img {
        max-width: 100%;
    }
}
